/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: row;
   
   align-content: center;
}

.ytv {
   /* flex-grow: 1; */
    max-width: 960px;
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: column;
      gap: 1em;
      
      justify-content: space-between;
    /* margin-bottom: auto; */
    /* flex-grow: 1; */
    /* max-height: 45em; */
    
    
}
.ytv__bottom {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   justify-content: end;
    
}
.ytv__left {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1em
    
}
/* .ytv__thumbnail{
   display: flex;
   flex-shrink: 2;
} */

/* .ytv__right::before {
    content: "";
    display: block;
    /* width: 1px;
    height: 100%;
    background-color: #000;
    margin-right: 1em;
    flex-grow: 1;
} */
.ytv__right {
   display: flex;
   justify-content: end;
   gap: 1em;
   align-content: flex-end;
    margin-left: auto;
}
.profile {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.profile__text {
    
}
.icon {

}
.btn--flex {
    
}